#root,html,body{
    height: 100vh;
}

body{
    margin: 20px;
    background-color: whitesmoke;
    padding-right: 50px;
    padding-left: 50px;
}

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}